<app-navbar [showHistoryflag]="showhistory" (newHistoryflag)="setHistoryflag($event)"  [showWalletflag]="walletFlag" (newWalletflag)="setWalletflag($event)"></app-navbar>


<div *ngIf="walletFlag" class="wallet-container text-center">
    <span class="close-btn" (click)="closeWallet()" style="float:right;position:unset">&times;</span>
    <div class="amount-box text-center">
        <img src="/assets/media/noun-wallet-104007.svg" alt="wallet">
        <p>Total Balance</p>
        <p class="amount">₹{{ balance }}</p>
    </div>

    <div class="btn-group text-center">
        <button type="button"  (click)="addMoneyflag()" class="btn">Add Money</button>
        <button type="button" (click)="withdrawFlag()" class="btn btn-right">Widthdraw</button>
        </div>

        <div *ngIf="showhistory" class="txn-history">
            <p><b>History</b></p>
            <div class="scroll-txn">
            <div *ngFor="let transaction of transactions">
                <div *ngIf="transaction.type=='debit'">
                      <p class="txn-list">{{ transaction.item }}<span class="debit-amount">-₹{{ transaction.amount }}</span><span class="txn-center">{{ transaction.date }}</span></p>
                </div>

                <div *ngIf="transaction.type=='credit'">
                       <p class="txn-list">{{ transaction.item }}<span class="credit-amount">+₹{{ transaction.amount }}</span></p>
                </div>   
            </div>    
         </div>
        </div>

      <div *ngIf="withdrawflag" class="add-form">
        <form [formGroup] = "withdrawForm" (submit)="makePurchase(+purchaseAmount.value,purchaseItem.value)">
            <label for="purchaseAmount">Purchase Amount</label>
            <input type="number" id="purchaseAmount" placeholder="Withdraw amount" [min]="1" #purchaseAmount formControlName="purchaseAmount" required>
            <span *ngIf="wrongPurchaseAmount" class="valid-msg">Please Enter a Valid Amount more than 0.</span>
            <span *ngIf="insufficientFlag" class="valid-msg">Wallet Balance is not Sufficient </span>
            <label for="purchaseItem">Purchase Item</label>
            <input type="text" id="purchaseItem" placeholder="Enter item" [maxlength]="25" #purchaseItem  formControlName="purchaseItem" required>
            <button class="form-btn" type="submit" >Make Purchase</button>
          </form>
      </div>   

      <div *ngIf="addmoneyFlag" class="withdraw-form">
          <form (submit)="addMoney(+moneyAmount.value)" [formGroup]="minValidator">
            <label for="moneyAmount">Add Money</label>
            <input type="number" id="moneyAmount" [min]="1" placeholder="Enter amount" #moneyAmount formControlName="amount" required>
             <div *ngIf="wrongCredintial"><span class="valid-msg">Please Enter a Valid Amount more than 0</span></div>
            <button class="form-btn" type="submit">Add Money</button>
          </form>
      </div>    
</div>

  
<!-- <h1>Expense Tracker</h1>
<div class="container">
  <div class="header">
    <img
      src="https://i.ibb.co/jfScDTC/budget.png"
      alt="Expense Tracker"
    />
    <div class="balance-container">
      <h2>Your Balance</h2>
      <h2 id="balance" class="balance">{{ balance }}</h2>
    </div>
  </div>
  <div class="inc-exp-container">
    <div>
      <h4>Income</h4>
      <p id="money-plus" class="money plus">{{ income }}</p>
    </div>
    <div>
      <h4>Expenses</h4>
      <p id="money-minus" class="money minus">{{ Expenses }}</p>
    </div>
  </div>
  <h3>History</h3>
  <ul id="list" class="list"></ul>
  <h3>Add new transaction</h3>
  <form (submit)="makePurchase(+purchaseAmount.value,purchaseItem.value)">
    <div class="form-control">
      <label for="purchaseItem">Description</label>
      <input type="text" placeholder="Enter description..." id="purchaseItem" #purchaseItem required />
    </div>
    <div class="form-control">
      <label for="purchaseAmount">Amount <br /></label>
      <input type="number" placeholder="Enter amount..." id="purchaseAmount" #purchaseAmount required/>
    </div>
    <button type="submit" class="btn">Add transaction</button>
  </form>
</div>


<h1>E-Wallet</h1>

<p>Balance: {{ balance }}</p>

<form (submit)="makePurchase(+purchaseAmount.value,purchaseItem.value)">
  <label for="purchaseAmount">Purchase Amount:</label>
  <input type="number" id="purchaseAmount" #purchaseAmount required>
  <label for="purchaseItem">Purchase Item:</label>
  <input type="text" id="purchaseItem" #purchaseItem required>
  <button type="submit">Make Purchase</button>
</form>

<form (submit)="addMoney(+moneyAmount.value)">
  <label for="moneyAmount">Add Money:</label>
  <input type="number" id="moneyAmount" #moneyAmount required>
  <button type="submit">Add Money</button>
</form>

<h2>Transaction History</h2>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Item</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.date | date }}</td>
      <td>{{ transaction.type }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.item }}</td>
    </tr>
  </tbody>
</table> -->
