.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: none;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background-color: rgba(0,0,0,0.5);
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}
.navbar .logo a{
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    margin-left: -566px;
}
.navbar .logo a span{
    color: #0ba138;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}


.home-title {
  font-size: 50px;
  color: #0ba138;
  align-items: center;
}

.home-title span {
  color: #fdfdff;
  font-weight: bold;
}

.navbar .menu{
    margin-right: 5%;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    margin-top: 31px;
}
.navbar .menu li a{
    display: block;
    color: rgb(247, 243, 243);
    font-size: 23px;
    font-weight: 501;
    margin-left: 95px;
    transition: color 0.3s ease;
    cursor: pointer;
}
.navbar .menu li a:hover{
    color: rgb(21, 189, 30);
}
.navbar.sticky .menu li a:hover{
    color: rgb(23, 94, 26);
}


// @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
//     .navbar{

//     }
//     }
 

input[type=checkbox] {
    display: none;
}
.hamburger {
    display: none;
    font-size: 35px;
    user-select: none;
    color: #fdfdff;
    cursor: pointer;
    
}

@media (max-width: 768px) {
    .navbar .max-width{
        margin-left: 10px;
    }

    .home-title{
        font-size: 2.4em;
         
    }

    .navbar .menu-inner li  {
        margin-top: 12px;
        width: 100%;
        display: flex;
    }

    .navbar .menu li a{
        margin-left: 45%;
    }
    .menu-inner {
        display:none;
        position: absolute;
        background-color: rgba(0,0,0,0.5);
        right: 0;
        left: 0;
        // padding: 16px 0px;
    }
    
    input[type=checkbox]:checked ~ .menu-inner {
        display: block;
    }
    
    .hamburger {
       display: block;
    }


}