<div class="alert alert-danger" *ngIf="auth.showLogoutWarningMessage" role="alert" >
    <span><span><img src="assets/media/738.png"></span> Please logout first</span>
</div>

<nav class="navbar">
  <div class="max-width">
        <div class="home-title">
            An
            <span>Applied AI</span>
            Company
          </div>
      <ul class="menu">
        <li><a href="#home" class="menu-btn">Wallet</a></li>
        <li><a href="#summary" class="menu-btn">History</a></li>
        <li><a class="menu-btn" (click)="logOut()"> <i class="fa fa-sign-out" style="font-size:34px"></i></a></li>
       </ul>
     </div>
</nav>