/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  text-decoration: none;
}
html {

    height: 100%;
  }
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }
  

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: white;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  background-color: rgb(175, 55, 55);
  width: 21%;
  height: 50px;
  margin-top: 6%;
  text-align: center;
  float: right;
  border-radius: 8px;
  animation: popup 0.7s;
}

@keyframes popup {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.4);
  }
  60%{
    transform: scale(1.1);
  }
  70%{
    transform: scale(1.2);
  }
  80%{
    transform: scale(1);
  }
  90%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

.alert span{
  font-family: Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert span img{
height: 100%;
width: 3em;
margin-top: 7px;

}

.close-btn{
  display: flex;
  right: 40px;
  position: absolute;
  cursor: pointer;
  font-weight: 800;
  font-size: x-large;
  text-shadow:2px 2px #FF0000;

}

.close-btn:hover{
  color: #141e30;
}

